<div class="row">
  <h3>Realizar Pedido</h3>
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
          <th><b>Nome</b></th>
          <th><b>Descrição</b></th>
          <th><b>Valor</b></th>
          <th></th>
      </tr>
      <tr *ngFor="let p of products">
        <td>{{ p.name }}</td>
        <td>{{ p.description }}</td>
        <td>{{ p.value | number : '1.2-2' }}</td>
        <td><button 
          (click)="buy(p.id ,1)">Comprar</button></td>
      </tr>
    </table>
  </div>
</div>